extends home
block admin-content
    if(teacherModify)
        blockquote.layui-elem-quote 更新信息
            .layui-inline.left
                a(href='/admin/teacher')
                    i.layui-icon.layui-unselect.layui-tab-close &#x1006;
        form.layui-form.layui-form-pane(id='teacherform' action='/admin/updateteacher' method='post' style="width:30%;margin:0 auto")
            input(type='hidden' name='id' value=id)
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="用户名" name='username' lay-verify="username|required" value=teacherModify.username)
            .layui-form-item(pane)
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="密码" name='password' value=teacherModify.password lay-verify="required|pass")
            .layui-form-item(pane)
                label.layui-form-label 真实姓名
                .layui-input-block
                    input.layui-input(type="text" placeholder="真实姓名" name='name' value=teacherModify.name lay-verify="required")
            .layui-form-item(pane)
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="学科,学科之间已英文逗号隔开" name='subject' value=teacherModify.subject_name lay-verify="required")
            .layui-form-item(pane)
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="备注" name='remarks' value=teacherModify.remarks lay-verify="required")
            .layui-form-item
                .layui-input-block
                        button.layui-btn(lay-submit="") 提交
            if(error)
                p.hidden#error #{error.message}

    else
        blockquote.layui-elem-quote 创建用户
            .layui-inline.left
                a(href='/admin/teacher')
                    i.layui-icon.layui-unselect.layui-tab-close &#x1006;
        form.layui-form.layui-form-pane(id='teacherform' action='/admin/addteacher' method='post' style="width:30%;margin:0 auto")
            .layui-form-item(pane)
                label.layui-form-label 用户名
                .layui-input-block
                    input.layui-input(type="text" placeholder="用户名" name='username' lay-verify="username|required")
            .layui-form-item(pane)
                label.layui-form-label 密码
                .layui-input-block
                    input.layui-input(type="text" placeholder="密码" name='password' lay-verify="required|pass")
            .layui-form-item(pane)
                label.layui-form-label 真实姓名
                .layui-input-block
                    input.layui-input(type="text" placeholder="真实姓名" name='name' lay-verify="required")
            .layui-form-item(pane)
                label.layui-form-label 科目
                .layui-input-block
                    input.layui-input(type="text" placeholder="学科,学科之间已英文逗号隔开" name='subject' lay-verify="required")
            .layui-form-item(pane)
                label.layui-form-label 备注
                .layui-input-block
                    input.layui-input(type="text" placeholder="备注" name='remarks' lay-verify="required")
            .layui-form-item
                .layui-input-block
                    button.layui-btn(lay-submit="") 提交
            if(error)
                p.hidden#error #{error.message}

block scripts
    script(src='/js/backend/admin/teacher_op.js')