extends ./home
block admin-content
    .layui-container
        if(schoolModify)
            blockquote.layui-elem-quote 更新信息
            form.layui-form.layui-form-pane(id='teacherform' action='/rooter/updateschool' method='post' style="width:50%")
                .layui-form-item(pane)
                    label.layui-form-label 用户名
                    .layui-input-block
                        input.layui-input(type="text" placeholder="用户名" name='username' lay-verify="required" value=schoolModify.name)
                .layui-form-item(pane)
                    label.layui-form-label 密码
                    .layui-input-block
                        input.layui-input(type="password" placeholder="密码" name='password' lay-verify="required|pass" value=schoolModify.password)
                .layui-form-item(pane)
                    label.layui-form-label 所属学校
                    .layui-input-block
                        select(id="schoolselect")

                .layui-form-item
                    .layui-input-block
                        button.layui-btn(lay-submit="") 提交
                if(error)
                    p.hidden#error #{error.message}
        else
            blockquote.layui-elem-quote 创建信息
            form.layui-form.layui-form-pane(id='teacherform' action='/rooter/addschool' method='post' style="width:40%")
                .layui-form-item(pane)
                    label.layui-form-label 用户名
                    .layui-input-block
                        input.layui-input(type="text" placeholder="用户名" name='name' lay-verify="required" id="schoolname")
                .layui-form-item(pane)
                    label.layui-form-label 密码
                    .layui-input-block
                        input.layui-input(type="password" placeholder="密码" name='password' lay-verify="required|pass")
                .layui-form-item(pane)
                    label.layui-form-label 所属学校
                        .layui-input-block
                    .layui-input-block
                        select(id="schoolselect" lay-search lay-verify="required")
                            option(value="")
                            if(schoolList)
                                each school in schoolList
                                    option(value=school._id) #{school.name}

                .layui-form-item
                    .layui-input-block
                        button.layui-btn(lay-submit="") 提交
                if(error)
                    p.hidden#error #{error.message}

block scripts
    script(src='/js/admin/jquery-school-seletor.min.js')
    script(src='/js/admin/admin_op.js')

